*.suo
*.user
*.csproj.user
*.sln.cache
*.cache
*.resharper
*.ReSharper
*.resharperoptions
_ReSharper.*
*.vs10x
*.DotSettings
*.exe
*.dll
*.obj
*.pdb
*.xml
*.mshc
*.orig
*.log
bin
Bin
obj
_Build
.vs
.idea
User.Directory.Build.props
packages
BenchmarkDotNet.Artifacts
DO6BenchmarkDotNet.Artifacts
DO71BenchmarkDotNet.Artifacts
DO7BenchmarkDotNet.Artifacts
Translate7.0.4-BenchmarkDotNet.Artifacts
Translate.7.0.5-other-imps.BenchmarkDotNet.Artifacts
Translate.7.0.5-vmc-no-names.BenchmarkDotNet.Artifacts
Translate.7.0.5-some-other-imps.BenchmarkDotNet.Artifacts
